@model Sistema3SS_2020.Models.Usuario

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellido_paterno" class="control-label"></label>
                <input asp-for="apellido_paterno" class="form-control" />
                <span asp-validation-for="apellido_paterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellido_materno" class="control-label"></label>
                <input asp-for="apellido_materno" class="form-control" />
                <span asp-validation-for="apellido_materno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_tipo" class="control-label"></label>
                <input asp-for="id_tipo" class="form-control" />
                <span asp-validation-for="id_tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="correo_electronico" class="control-label"></label>
                <input asp-for="correo_electronico" class="form-control" />
                <span asp-validation-for="correo_electronico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numero_celular" class="control-label"></label>
                <input asp-for="numero_celular" class="form-control" />
                <span asp-validation-for="numero_celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="direccion" class="control-label"></label>
                <input asp-for="direccion" class="form-control" />
                <span asp-validation-for="direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_nacimiento" class="control-label"></label>
                <input asp-for="fecha_nacimiento" class="form-control" />
                <span asp-validation-for="fecha_nacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="activo" class="control-label"></label>
                <input name="act" asp-for="activo" class="form-control" />
                <span asp-validation-for="activo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

