@model Sistema3SS_2020.Models.Proyecto
<html lang="en">
<head>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-reboot.min.css" rel="stylesheet" />
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        input[type=checkbox] {
            transform: scale(1.5);
        }

        #lbGenerateJs {
            transform: scale(1.5);
        }
    </style>
    <!-- Custom styles for this template -->
    <script src="~/js/Presupuesto.js"></script>
    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
</head>
<body class="bg-light">
    <br />
    <br />
    <br />
    <br />
    <br />
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Crear presupuesto
    </button>
    <br />
    <br />
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">PRESUPUESTO</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row mb-4">
                            <div class="col-4 mb-4">
                                <div class="col-10 mb-0">
                                    <label for="country">Presupuesto</label>
                                    <select onchange="SecuenciaDeCambios();" class="custom-select d-block w-100" id="TipoPres" name="TipoPres" required="">
                                        <option value="0">Tipo...</option>
                                        <option value="1">Economico</option>
                                        <option value="2">Produccion</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Por favor de selccionar un elemnto valido
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 ">
                                <div class="col-10 mb-0">
                                    <label for="state">Granja</label>
                                    <select disabled onchange="jsFuncionNumeroEstanques();" name="SelectGranja" class="custom-select d-block w-100" id="SelectGranja" runat="server">
                                        <option value="0">Nombre...</option>
                                        @foreach (var granja in Model.granjas)
                                        {
                                            <option value="@granja.numero_estanques">@granja.nombre</option>
                                        }
                                    </select>
                                    <div class="invalid-feedback">
                                        Por favor de selccionar un elemnto valido
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 ">
                                <div class="col-10 mb-0">
                                    <label for="state">Concepción</label>
                                    <select disabled onchange="jsFuncionNumeroEstanques();" name="SelectConcepcion" class="custom-select d-block w-100" id="SelectConcepcion">
                                        <option value="0">Selecionar...</option>
                                        <option value="3">Granja en general</option>
                                        <option value="2">Estanque unico</option>
                                        <option value="1">Multiples estanques</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Por favor de selccionar un elemnto valido
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="col-10 mb-0" id="Est1">
                                    <label for="state">Selecion estanque</label>
                                    <select disabled onc name="Selectestanquest" class="custom-select d-block w-100" id="Selectestanquest">
                                        <option value="">Numero...</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Por favor de selccionar un elemnto valido
                                    </div>
                                </div>
                            </div>
                            <!-- Small modal -->
                            <div class="col-4">
                                <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target=".bd-example-modal-sm"> <a href="#" role="button" class="btn btn-secondary popover-test" title="Solo para la Concepcíon 'Multiestanque'" data-content="Solo para la Concepcíon 'Multiestanque'">Estanques</a></button>
                            </div>
                            <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="col-4">
                                            <div class="col-10 mb-0" id="Est1">
                                                <div class="col-10 mb-0" id="Est2">
                                                    <div class="container" id="checkboxes">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Small modal /-->
                        </div>
                        <div class="row mb-4">
                            <div class="col-4 mb-4">
                                <div class="col-10 mb-0">
                                    <label for="country">Gasto</label>
                                    <select class="custom-select d-block w-100" id="country" required="">
                                        <option value="">Nombre...</option>
                                        <option>Papelaeria</option>
                                        <option>baños</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Por favor de selccionar un elemnto valido
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 mb-4">
                                <div class="col-10 mb-0">
                                    <label for="country">Concepto</label>
                                    <select class="custom-select d-block w-100" id="country" required="">
                                        <option value="">contenido...</option>
                                        <option>Plumas</option>
                                        <option>Jabon</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Por favor de selccionar un elemnto valido
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar presupuesto</button>
                </div>
            </div>
        </div>
    </div>
    <partial name="/Views/AdminProyectos/ListaDePresupuestos.cshtml">
</body>
</html>