<html>
<head>

</head>
<body>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Economico</th>
                <th scope="col">Gasto</th>
                <th scope="col">Concepto</th>
                <th scope="col">$</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
            </tr>
            <tr>
                <th scope="row">2</th>
            </tr>
            <tr>
                <th scope="row">3</th>
            </tr>
            <tr>
                <th>Total $ </th>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Produccion</th>
                <th scope="col">Gasto</th>
                <th scope="col">Concepto</th>
                <th scope="col">$</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
            </tr>
            <tr>
                <th scope="row">2</th>
            </tr>
            <tr>
                <th scope="row">3</th>
            </tr>
            <tr>

                <th>Total $ </th>
            </tr>
        </tbody>
    </table>
</body>
</html>