<html>
<head>

</head>
<body>
    <div class="accordion">
        <ul>
            <li>
                <label>Semana</label>
                <input type="checkbox" />
            </li>
            <li>
                <label>$</label>
                <input type="checkbox" />
            </li>
        </ul>

    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">SEMANA</th>
                <th scope="col">$</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
            </tr>
            <tr>
                <th scope="row">2</th>
            </tr>
            <tr>
                <th scope="row">3</th>
            </tr>
            <tr>
                <th>Total $ </th>
            </tr>
        </tbody>
    </table>
</body>
</html>
