<html>
<head>
</head>

<body>
    <partial name="/Views/Shared/NavBar.cshtml" />
    <form method="post">
        <div class="container">
            <label>Semanas</label>
            <select>
                <option>
                </option>
            </select>
            <label><spam class="alert-dark">$</spam> </label>
            <input class="text-body" placeholder="Agregar cantidad..." title="Agregar cantidad estimada" />
        </div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">SEMANA</th>
                    <th scope="col">Cantidad proyectada</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                </tr>
                <tr>
                    <th scope="row">2</th>
                </tr>
                <tr>
                    <th scope="row">3</th>
                </tr>
                <tr>
                    <th>Total $0 </th>
                </tr>
            </tbody>
        </table>
    </form>
</body>
</html>
